<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fehler 403 | Randomfood</title>

    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" type="text/css"/>

</head>

<body>
<div class="center">

    <h1>Des is verbote. (403)</h1>

    <br>
    <br>
    <h2>Das Programm hat unzul&auml;ssige Parameter bekommen und fand das extrem uncool.</h2><br>

    <p class="left">Die Werte wurden zwar erkannt und auch verarbeitet, aber du erinnerst dich
        vielleicht daran,
        dass nur maximal 10 Randomfoods auf einmal erlaubt sind.
        Bevor du fragst: "-1" Randomfood ist auch bl&ouml;d.</p>


    <br>
    <a class="bigLink" href="/">Zur&uuml;ck auf Los</a>
</div>

<div class="bottomleft"><a
        href="https://github.com/Fynf/randomfood2">[Der Code ist auf GitHub!]</a></div>

</body>
</html>
