<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fehler 404 | Randomfood</title>

    <link crossorigin
          href="https://fonts.gstatic.com"
          rel="preconnect"/>

    <link as="style"
          href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
          rel="preload"/>

    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
          media="print"
          onload="this.media='all'" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" type="text/css"/>

</head>

<body>
<div class="center">

    <h1>Des hammer nedd. (404)</h1>

    <br>
    <br>
    <h2>Unter dieser URL ist nichts zu finden, coole Kids nennen das auch Fehler 404.</h2>


    <br>
    <a class="bigLink" href="/">Zur&uuml;ck auf Los</a>
</div>

<div class="bottomleft"><a
        href="https://github.com/Fynf/randomfood2">[Der Code ist auf GitHub!]</a></div>

</body>
</html>
