<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fehler | Randomfood</title>

    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" type="text/css"/>

</head>

<body>
<div class="center">

    <h1>Ja... Nee, du.</h1>

    <br>
    <br>
    <h2>Irgendwas ist schiefgelaufen und ein Fehlerprotokoll wurde erstellt.<br>
        Hast du mal versucht, das einfach nicht zu machen?</h2>

    <br>
    <p>Falls du den Fehlercode wissen magst, schau in die HTTP-Response, die findest du unter
        Strg+Umschalt+I und dann "Netzwerkanalyse".<br><br>
        Wenn das nicht deine Schuld war, dann schreib' was auf <a
                href="https://github.com/Fynf/randomfood2">GitHub</a>, ich freu' mich &uuml;ber
        Feedback!</p>

    <br>
    <a class="bigLink" href="/">Zur&uuml;ck auf Los</a>
</div>
<div class="bottomleft"><a
        href="https://github.com/Fynf/randomfood2">[Der Code ist auf GitHub!]</a></div>

</body>
</html>
