<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/snackbar.css}" type="text/css"/>

    <title>Randomfood as a Service</title>

    <script th:inline="javascript">
        /*<![CDATA[*/

        const copyToClipboard = () => {
            navigator.clipboard.writeText([[${randomfood}]])  // Copy - only works as a result of a user action (e.g. click events)

            // Info-Snackbar
            const x = document.getElementById("snackbar");    // Get the snackbar DIV
            x.className = "show";                           // Add the "show" class to DIV
                                                            // After 3 seconds, remove the show class from DIV
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        };

        /*]]>*/
    </script>
</head>

<body>
<div class="center">
    <h2>Moin Moin,<br>
        <span th:text="${appetizer}">heute gibt es</span>:</h2>

    <h1 th:text="${randomfood}">Nichts, weil es einen Fehler in der Anwendung gab.</h1>

    <br>
    <a class="biglink" th:href="@{/}">Noch eins!</a><br><br>
    <a class="biglink" href="#" onclick="copyToClipboard()">In die Zwischenablage!</a>

    <br><br><br>
    <p>
        Psst!<br>
        Wenn du kein Mensch, sondern eine Maschine bist, kannst du "/&lt;anzahl&gt;" an die URL anh&auml;ngen
        und bekommst dann via REST-Api eine Liste von bis zu 10 Objekten.<br><br>
        Also <a href="/1">https://randomfood.fynf.dev/1</a> zum Beispiel, nicht einfach nur /&lt;anzahl&gt;
        schreiben und dann wundern, 'ne?

    </p>
</div>

<div class="bottomleft"><a
        href="https://github.com/Fynf/randomfood2">[Der Code ist auf GitHub!]</a></div>

<div id="snackbar">Kulinarische Kreation kopiert!</div>

</body>
</html>
